@model echarge1.Models.ContactMessage

@section Styles {
    <link rel="stylesheet" href="~/css/admintestomonialstyle.css" asp-append-version="true" />
}

<!DOCTYPE html>
<html>
<head>
    <title>Reply Message</title>
</head>
<body>
    <h1>Reply to Message</h1>
    <form method="post">
        <div>
            <label>Subject:</label>
            <input type="text" value="@Model.Subject" readonly />
        </div>
        <div>
            <label>Message:</label>
            <textarea readonly>@Model.Message</textarea>
        </div>
        <div>
            <label>Your Reply:</label>
            <textarea name="replyContent"></textarea>
        </div>
        <div>
            <button type="submit">Send Reply</button>
        </div>
    </form>
</body>
</html>
